a {
  text-decoration: none;
  color: #000;
}
.inbox fa-icon {
  color: #246fe0;
}
.today fa-icon {
  color: #058527;
}
.upcoming fa-icon {
  color: #692fc2;
}
.top-menu {
  text-align: left;
}
.side-button {
  display: flex;
  margin-bottom: 3%;
}
.container {
  border-radius: 4%;
  -webkit-border-radius: 4%;
  -moz-border-radius: 4%;
  -ms-border-radius: 4%;
  -o-border-radius: 4%;
}
.container:hover,
.container:active {
  background-color: #eee;
  transition: 0.5s;
}
