.sidenav {
  width: 16.5%;
  background-color: #fafafa;
  height: 100%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  top: 0;
  padding-top: 100px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.sidenav i {
  padding-right: 3%;
}
a {
  text-decoration: none;
}
.sidenav .inbox {
  margin-left: -0.2em;
}
.inbox fa-icon {
  color: #246fe0;
}
.today fa-icon {
  color: #058527;
}
.upcoming fa-icon {
  color: #692fc2;
}
