<div class="sidenav d-none">
  <div class="side-button inbox pt-4">
    <a href="#">
      <fa-icon class="fa-lg m-1 fa-inbox" [icon]="faInbox"></fa-icon>
      <span>Inbox</span>
    </a>
  </div>
  <div class="side-button today">
    <a href="#">
      <fa-icon class="fa-lg m-1 fa-calendar" [icon]="faCalendar"></fa-icon>
      <span> Today</span>
    </a>
  </div>
  <div class="side-button upcoming">
    <a href="#">
      <fa-icon class="fa-lg m-1 fa-calendar-days" [icon]="faCalendarDays"></fa-icon>
      <span> Upcoming</span>
    </a>
  </div>
  <div class="projects"></div>
</div>
