<ul class="top-menu list-group">
    <li class="side-button inbox pt-4">
        <a [routerLink]="['inbox']"
            class="container d-flex justify-content-between p-1 me-4 ms-4 w-100">
            <div class="icon-holder">
                <fa-icon class="fa-lg m-1 fa-inbox" [icon]="faInbox"></fa-icon>
                <span>Inbox</span>
            </div>
            <div class="tasks">3</div>
        </a>
    </li>
    <li class="side-button today">
        <a class="container d-flex justify-content-between p-1  me-4 ms-4 w-100">
            <div class="icon-holder">
                <fa-icon class="fa-lg m-1 fa-calendar" [icon]="faCalendar"></fa-icon>
                <span> Today</span>
            </div>
            <div class="tasks">3</div>
        </a>
    </li>
    <li class="side-button upcoming">
        <a class="container d-flex justify-content-between p-1 me-4 ms-4 w-100">
            <div class="icon-holder">
                <fa-icon class="fa-lg m-1 fa-calendar-days" [icon]="faCalendarDays"></fa-icon>
                <span> Upcoming</span>
            </div>
            <div class="tasks">3</div>
        </a>
    </li>
    <li class="projects"></li>
</ul>
