<div class="main">
  <h2>Inbox</h2>
  <div class="inbox-page ">
    <div class="sections gap-5">
      <div>
        <div class="section-name">(No section)<span class="noOfTasks"> 1</span></div>
        <div class="tasks-list">
          <div class="task">
            <button class="done"></button>
            <div class="task-name">Text All My Bitches</div>
            <button class="actions">
              <i class="fa-solid fa-ellipsis"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <button class="add-sections h-50 btn btn-outline-dark">Add section</button>
    <form action=""></form>
    <form class="new-section d-none" action="">
      <input type="text" class="add-section-name">
      <div class="d-flex pt-2">
        <button class="add btn btn-outline-dark me-1">Add</button>
        <button type="submit" class="cencel-add btn btn-outline-dark">Cancel</button>
      </div>
    </form>
  </div>
</div>
