<!--
1-Create the whole page view first,
it should contain a navbar with a menu containing (Inbox, Today, Upcoming,Projects (expandable) )

2-Each task should be linked initially to a default project, the user can change that project
and then it appears in that project, selecting default removes it from the current project array

3-I should be able to get the current date, and for each project i should check if it's today,
if it's then put it in today menu, else put it in the upcoming in
it's respectable day (limit it to a year from now), in addition to that all tasks should be
in the inbox menu

4-each task should have a description that's hidden, priority that colors the task accordingly,
a checkbox that removes it (or move it to finished tasks), a delete button that removes it
(or move it to deleted tasks), a drop down button to expand the information about the task overlaying
 the rest of the page

5-set a 10 tasks per day goal and increase them for each task finished

6-put game logic in a module, DOM stuff in another module

7-

-->

<app-header></app-header>
<app-inbox></app-inbox>
<app-sidenav></app-sidenav>
<app-footer></app-footer>
