/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-backdrop {
  display: none !important;
}
.mat-drawer:not(.mat-drawer-side) {
  box-shadow: none !important;
}

p {
  margin-bottom: 0 !important;
}
